body{ background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/videoblocks-table-at-restaurant-blurred-background_hxug5litx_thumbnail-full01.png');}
div{
  position: absolute;
  bottom: 400px;
  right:  550px;

}
li{
  color: white;
}
h2,h3{
  color: white;

}
h2,h3{
  text-align: center;
}
