div {
  dispaly: inline-block;
  width: 49%;
}

img {
  width: 600px;
  height: 600px;
}

body {
    background-color: #DAE4F5;
}

.col {
  width: 49%;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 10px;
}

#right {
  float: right;
  right: 10px;
}
