body{
text-align: center;
background-color: #993333;
border: 3px solid black;
}

h1{
  color:#e6e600;
}

p{
  font-size: 20px
  color: #009933;
  font-weight:bold;
}

span{
  font-size: 15px;
  font-style: italic;
}

a{
  color: #0073e6
}
