body {
  background-color: #80ffff;
  color: #000000;
  text-align: center;
  list-style-position: inside;
  list{
 	display:inline-block;
 	vertical-align: top;
 	width:100px;
  }

}
h3, h1 {
  color: #ff66ff;
}
span {
  color: #808080;
}
img {
  width: 400px;
  height:300px;
}
p{
  font-size:30px;
}
}
