p {
  font-family: URW Chancery L, cursive;
  font-size: 30px;
color: #660033;
}
body {
background-color: #ff6666;
color: black;
text-align:center;
list-style-position: inside;
}

h3, h1 {
color: #660033;
}

span {
color: #4d0000;
}

img {
width:400px;
height:300px;
}
